.auth-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;

    @include media-breakpoint-down(lg) {
        padding: 12px 0;
    }

    @include media-breakpoint-down(lg) {
        min-height: 100vh;
    }

    .auth-box {
        background: $white;
        border-radius: 20px;
    }

    .auth-logo {
        @include media-breakpoint-down(lg) {
            max-width: 200px;
        }
    }

    .mob-auth-logo {
        @include media-breakpoint-down(md) {
            background: $dark;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            padding: 30px;
            width: 100%;
            text-align: center;
        }
    }

    .auth-left {
        background: url("#{$bgimage-path}logo-bg.png") no-repeat;
        background-size: cover;
        min-height: 813px;
        padding: 177px 0 30px 65px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        color: $white;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;

        @include media-breakpoint-down(xxl) {
            min-height: 700px;
            padding-top: 100px;
        }

        @include media-breakpoint-down(xl) {
            padding: 100px 50px 30px;
        }

        @include media-breakpoint-down(lg) {
            padding: 50px 30px 30px;
        }

        .auth-titles {
            h1 {
                font-size: 30px;
                line-height: 37px;
            }

            p {
                font-size: 18px;
                line-height: 22px;
            }
        }

        .info-auth-titles {
            margin-top: 100px;

            p {
                line-height: 19px;
                letter-spacing: -0.30px;
            }

            a {
                font-size: 18px;
                color: $brandCol;
            }
        }

        ul {
            display: flex;

            li {
                &.p-space {
                    padding: 0 20px;
                }

                a {
                    color: $white;

                    &:hover {
                        color: $brandCol;
                    }
                }
            }
        }
    }

    .auth-right {
        padding: 170px 160px 30px 160px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        height: 100%;
        display: flex;
        flex-direction: column;

        @include media-breakpoint-down(xxl) {
            padding: 100px 100px 30px 100px;
        }

        @include media-breakpoint-down(xl) {
            padding: 100px 50px 30px;
        }

        @include media-breakpoint-down(lg) {
            padding: 50px 30px 30px;
        }

        @include media-breakpoint-down(md) {
            height: auto;
            text-align: center;
        }

        h2 {
            font-size: 20px;
            margin-bottom: 30px;
            font-weight: 400;

            strong {
                font-weight: bold;
            }
        }

        .auth-copyright {
            margin-top: auto;
        }

        a {
            color: $secondary;
            text-decoration: underline;
        }

        .remember-forgot {
            display: flex;
            justify-content: space-between;
            align-items: center;

            @include media-breakpoint-down(xl) {
                display: block;

                .checkbox_wrap {
                    margin-bottom: 20px;
                }
            }
        }
    }

    .auth-btn {
        text-transform: uppercase;
        width: 300px;
        text-align: center;
        margin-top: 120px;
        font-weight: 700;

        @include media-breakpoint-down(xl) {
            margin: 40px 0;
        }

        @include media-breakpoint-down(md) {
            width: 100%;
        }
    }

    .reset-box {
        min-height: 680px;
        max-width: 664px;
        margin: auto;
        padding: 60px 50px 50px;

        @include media-breakpoint-down(md) {
            padding: 50px 30px;
            text-align: center;
        }

        .auth-right {
            padding: 0;
            min-height: 460px;
        }

        .btn-link {
            color: $brandCol;
        }

        .auth-btn {
            margin-bottom: 10px !important;
        }

        .input-control {
            >label {
                color: $darkGreyCol;
            }
        }

        .reset-auth-logo {
            margin-bottom: 60px;
        }

        .form-style {
            margin-bottom: 50px;

            h2 {
                margin-bottom: 30px;
                text-transform: uppercase;
            }
        }
    }

}