.btn {
    color: $white;
    border-radius: 5px;
    box-shadow: none;
    min-height: 50px;
    font-size: 18px;
    line-height: 22px;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &:focus,
    &:hover {
        box-shadow: none;
        outline: none;
        color: $white;
    }

    &.btn-sm {
        min-height: 30px;
        font-size: 14px;
        border-radius: 3px;
    }

    i,
    img {
        font-size: 25px;
        font-style: normal;
        margin-right: 7px;
        font-weight: 400;
    }
}

button {
    box-shadow: none !important;
    outline: none !important;

    &:focus,
    &:hover {
        box-shadow: none !important;
        outline: none !important;
    }
}

.btn-light {
    color: $blackGreyCol;
}

.btn-outline-secondary {
    color: #999999;
    border-color: #E6E6E6;
}

.btn-box {
    margin-top: 60px;

    .btn {
        min-width: 170px;
        margin-right: 20px;

        @include media-breakpoint-down(md) {
            min-width: 120px;
            padding: 10px;
            margin-right: 10px;
        }
    }
}