.btn {
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 0;
    min-width: 200px;
    color: $white !important;
}



button,
button:focus {
    outline: none !important;
    box-shadow: none !important;
}