header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.top-info {
    min-height: 50px;
    background: $grey-col;
    color: $white;
    display: flex;
    align-items: center;
    font-size: 16px;

    @include media-breakpoint-down(xl) {
        display: none;
    }

    a {
        color: $white;
    }

    strong {
        font-weight: 600;
        font-size: 14px;
        margin-right: 10px;
    }

    .days-time {
        display: flex;
        align-items: center;
        font-size: 16px;
        min-width: 350px;
        margin-right: 0 !important;

        @include media-breakpoint-down(xxl) {
            min-width: 235px;
        }
    }

    .top-info-inner {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        >div {
            margin: 0 auto;

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .top-links {
        margin-left: 0 !important;

        span {
            display: inline-flex;
            margin: 0 5px;
        }
    }

    select {
        outline: none;
        background: transparent;
        color: $white;
        border: 0;

        option {
            color: $black;
        }
    }

    .top-search {
        display: flex;
        align-items: center;

        input,
        button {
            outline: none;
            background: transparent;
            color: $white;
            border: 0;
            border-left: 1px solid $border-grey;
            padding-left: 10px;
            font-size: 300;

            &::-webkit-input-placeholder {
                color: $border-grey;
            }

            &:-ms-input-placeholder {
                color: $border-grey;
            }

            &::placeholder {
                color: $border-grey;
            }
        }

        button {
            padding: 0;
            border: 0;
        }
    }

    .social-icons {
        a {
            color: $grey-col;
        }
    }
}

.social-icons {
    display: flex;
    align-items: center;

    span {
        margin-right: 10px;
    }

    a {
        margin-left: 10px;
        height: 25px;
        width: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $border-grey;
        border-radius: 50%;
        font-size: 14px;
        transition: all 300ms ease-in-out;

        &:hover {
            color: $primary;
            background: $dark-text;
        }
    }
}

.book-btn {
    display: flex;
    color: $white;
    text-transform: uppercase;

    @include media-breakpoint-down(lg) {
        background: $black;
        padding: 15px;
    }

    img {
        min-width: 40px;
        min-height: 40px;
    }

    >div {
        line-height: 20px;
        margin-left: 20px;
    }

    span {
        font-size: 16px;
        display: block;
    }

    strong {
        font-size: 28px;
    }
}


.navbar-dark {
    padding: 30px 0;

    @include media-breakpoint-down(md) {
        padding: 15px 0;
    }

    .navbar-nav {
        @include media-breakpoint-down(lg) {
            margin-top: 10px;
            background: $black;
        }

        .nav-item {
            margin: 0 30px;

            @include media-breakpoint-down(xl) {
                margin: 0 10px;
            }

            @include media-breakpoint-down(lg) {
                margin: 0;
            }

            &:first-child {
                margin-left: 0;
            }

            .nav-link {
                padding: 0;
                font-size: 18px;
                font-weight: 500;
                text-transform: uppercase;

                @include media-breakpoint-down(lg) {
                    padding: 15px;
                }
            }
        }


    }
}

.navbar-brand {
    min-width: 350px;
    padding: 0;
    margin: 0;

    @include media-breakpoint-down(xxl) {
        min-width: 235px;
        max-width: 235px;
        padding-right: 30px;
    }

    img {
        max-width: 100%;
    }
}

.sticky {
    animation-name: fadeInDown;
    animation-duration: 0.4s;
    animation-fill-mode: both;
    box-shadow: 0 3px 6px rgba($black, .16);
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    position: fixed !important;
    background: $black;
    padding: 10px 0;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px)
    }

    100% {
        opacity: 1;
        transform: translateY(0)
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

.navbar-toggler {
    @include media-breakpoint-down(lg) {
        outline: none;
        box-shadow: none;
    }
}