aside {
    background: $bglightGrey;
    min-width: 30px;
    width: 130px;
    height: 100%;
    overflow: auto;
    max-height: 100%;
    border-right: 1px solid $border-color;

    @include media-breakpoint-down(xxl) {
        min-width: 100px;
    }

    @include media-breakpoint-down(md) {
        position: fixed;
        max-height: calc(100vh - 65px);
        left: -100%;
        top: 65px;
        transition: all .15s ease-in-out;
        z-index: 99999;
        box-shadow: 0 10px 20px rgba($black, .2);

        &.open {
            left: 0;
        }
    }


    a {
        min-height: 90px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        color: $medSecGreyCol;
        font-weight: 500;
        border-left: 3px solid transparent;
        border-bottom: 1px solid $border-color;

        img,
        i {
            line-height: 25px;
            color: $body-color;
            margin-bottom: 12px;
            font-size: 30px;
            opacity: 0.5;
            transition: all .15s ease-in-out;
        }

        &:hover,
        &.active {
            color: $blackGreyCol;
            border-color: $brandCol;
            background: $white;
            border-bottom-color: $border-color;

            img {
                opacity: 1;
            }
        }

        &:last-child {
            border: 0;
        }
    }
}

.wrapper {
    @include media-breakpoint-down(md) {
        height: auto !important;
    }
}

main {
    height: calc(100% - 80px);
    display: flex;

    @include media-breakpoint-down(md) {
        height: auto;
    }

    >.control-panel {
        @include media-breakpoint-down(xl) {
            display: none !important;
        }
    }
}

.control-panel {
    width: 380px;
    background: $white;
    height: 100%;

    @include media-breakpoint-down(xxl) {
        min-width: 300px;
    }

    @include media-breakpoint-down(md) {
        min-width: 300px;
        width: 100%;
    }

    .heading {
        min-height: 60px;
        padding: 15px 20px;
        background: $headBgCol;
        display: flex;
        align-items: center;

        .title {
            font-size: 1rem;
            margin-right: auto;
        }

        .btn {
            margin-left: auto;
            padding: 2px 10px;
            display: flex;
            align-items: center;

            i {
                font-size: 20px;
                font-style: normal;
                margin-right: 7px;
                font-weight: 400;
            }
        }
    }
}

.search-box {
    height: calc(100% - 60px);
    background: $white;
    padding: 20px;

    .form-control {
        margin-bottom: 20px;
    }

    .list-group {
        .list-group-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-weight: 500;
            border: 0;
            border-radius: 3px !important;
            margin-bottom: 2px;
            font-size: 14px;
            min-height: 40px;

            span {
                color: $medSecGreyCol;
            }
        }

        .accordion {
            .accordion-body {
                padding: 0;
                padding-left: 40px;
            }

            .accordion-item {
                border: 0;
                background: $white;

                .accordion-button {
                    padding-top: 10px;
                    padding-bottom: 10px;
                    color: $greyCol;
                    font-weight: 600;
                    min-height: 40px;
                    padding-left: 40px;
                    border-radius: 5px !important;
                    @extend .list-group-item;
                    background: $bglightGrey;

                    &.collapsed {
                        background: $white;
                    }

                    &::after {
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        margin: auto;
                        left: 13px;
                        height: 13px;
                        width: 13px;
                        background-size: 7px;
                        background-position: center;
                        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='6.001' height='10' viewBox='0 0 6.001 10'%3E%3Cg id='arrow-down-sign-to-navigate' transform='translate(-97.141 10.001) rotate(-90)'%3E%3Cpath id='Path_3' data-name='Path 3' d='M5 103.142a.681.681 0 0 1-.5-.216L.206 98.4a.765.765 0 0 1 0-1.043.676.676 0 0 1 .99 0L5 101.362l3.8-4.006a.676.676 0 0 1 .99 0 .765.765 0 0 1 0 1.043l-4.3 4.527A.681.681 0 0 1 5 103.142Z' fill='%23555'/%3E%3C/g%3E%3C/svg%3E");
                    }

                    &:hover {
                        &::before {
                            content: "";
                            position: absolute;
                            right: 10px;
                            height: 4px;
                            width: 20px;
                            background-size: 20px;
                            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='4' viewBox='0 0 20 4'%3E%3Cg id='option' transform='translate(-2 -10)'%3E%3Ccircle id='Ellipse_281' data-name='Ellipse 281' cx='2' cy='2' r='2' transform='translate(10 10)' fill='%23555'/%3E%3Ccircle id='Ellipse_282' data-name='Ellipse 282' cx='2' cy='2' r='2' transform='translate(2 10)' fill='%23555'/%3E%3Ccircle id='Ellipse_283' data-name='Ellipse 283' cx='2' cy='2' r='2' transform='translate(18 10)' fill='%23555'/%3E%3C/g%3E%3C/svg%3E");
                            transition: all .15s ease-in-out;
                        }
                    }

                }

                .accordion-button:not(.collapsed)::after {
                    transform: rotate(90deg);
                }
            }
        }

    }
}

.breadcrumb-wrap {
    min-height: 60px;
    display: flex;
    align-items: center;

    .breadcrumb {
        .breadcrumb-item {
            font-size: 14px;

            a {
                color: $medSecGreyCol;
            }

            &.active {
                color: $blackGreyCol;
                font-weight: 600;
            }
        }
    }
}

.contentPanel {
    height: calc(100% - 60px);
    background: $white;
    padding: 20px;

    .heading {
        margin-bottom: 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .title {
            font-size: 18px;
        }
    }

    .connector-empty {
        padding: 50px 0;
        height: 95%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

}

.main-content {
    overflow: auto;
    max-height: calc(100% - 80px);
}

.main-wrapper {
    padding: 0 20px;
    flex: auto;
}

.apiListCard {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 15px;
    row-gap: 15px;

    @include media-breakpoint-down(xxl) {
        grid-template-columns: repeat(4, 1fr);
    }

    @include media-breakpoint-down(lg) {
        grid-template-columns: repeat(3, 1fr);
    }

    @include media-breakpoint-down(md) {
        grid-template-columns: repeat(2, 1fr);
    }

    a {
        font-size: 14px;
        height: 180px;
        padding: 15px;
        text-align: center;
        border: 1px solid $borderCol;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-radius: 3px;

        &:hover {
            border-color: $brandCol;
        }

        span {
            display: block;
            margin-top: 18px;
            color: $body-color;
        }
    }
}

.content-wrap {
    display: none;

    @include media-breakpoint-down(xl) {
        display: block;
    }

    .heading {
        margin-bottom: 0;
    }
}

.img-heading {
    .title {
        display: flex;
        align-items: center;

        img {
            max-width: 67px;
            margin-right: 10px;
        }

        >div {
            font-size: 18px;
            font-weight: 600;

            small {
                font-weight: 400;
                color: $darkGreyCol;
                display: block;
                font-size: 14px;
            }
        }
    }
}

.forms-wrap {
    .checkbox_wrap {
        min-height: 40px;
        display: flex;
    }
}

.controls {
    @include media-breakpoint-down(lg) {
        margin-bottom: 10px;
    }
}

.syntaxhighlighter {
    @include media-breakpoint-down(md) {
        max-width: 270px;
        overflow-x: auto !important;
    }
}

.action-panel {
    display: flex;
    justify-content: space-between;

    @include media-breakpoint-down(md) {
        display: block;
    }

    .action-panel-right {
        @include media-breakpoint-down(md) {
            margin-bottom: 20px;
            margin-top: 20px;
            justify-content: end;
        }

        .btn {
            color: $darkGreyCol;
            margin-right: 20px !important;
            font-size: 14px;

            img {
                margin-right: 10px;
                height: 16px;
            }
        }
    }
}

.planning-select {
    height: 30px;
    font-size: 14px;
    background-color: $white;
    border-radius: 3px;
    text-transform: uppercase;
    border: 0;
    display: flex;
    align-items: center;

    .form-select {
        outline: none;
        box-shadow: none;
        border: 0;
        padding: 4px 10px;
        min-height: initial;

        &:focus {
            outline: none;
            box-shadow: none;
        }

    }

    .status {
        min-height: 10px;
        min-width: 10px;
        background: $border-color;
        margin-left: 10px;
        border-radius: 50%;

        &.active {
            background: #4FA0E5;
        }
    }
}

.listIcon {
    li {
        margin: 5px 0;
    }

    a {
        color: $blackGreyCol;
        font-size: 14px;

        &::before {
            content: "";
            height: 12px;
            width: 12px;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cg id='more' transform='translate(-0.5 -0.5)'%3E%3Cpath id='Path_3321' data-name='Path 3321' d='M10.5.5h-8a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2v-8A2 2 0 0 0 10.5.5Zm1.2 10a1.2 1.2 0 0 1-1.2 1.2h-8a1.2 1.2 0 0 1-1.2-1.2v-8A1.2 1.2 0 0 1 2.5 1.3h8a1.2 1.2 0 0 1 1.2 1.2Z' fill='%23555'/%3E%3Cpath id='Path_3322' data-name='Path 3322' d='M3.9 3.8H6.314a.4.4 0 1 0 0-.8H3.9a.4.4 0 0 0 0 .8Z' transform='translate(-0.604 -0.501)' fill='%23555'/%3E%3Cpath id='Path_3323' data-name='Path 3323' d='M10.277 6H3.9a.4.4 0 0 0 0 .8h6.378a.4.4 0 0 0 0-.8Z' transform='translate(-0.588 -1.102)' fill='%23555'/%3E%3Cpath id='Path_3324' data-name='Path 3324' d='M10.277 9H3.9a.4.4 0 0 0 0 .8h6.378a.4.4 0 0 0 0-.8Z' transform='translate(-0.588 -1.702)' fill='%23555'/%3E%3Cpath id='Path_3325' data-name='Path 3325' d='M11.314 12H8.9a.4.4 0 0 0 0 .8h2.412a.4.4 0 0 0 0-.8Z' transform='translate(-1.612 -2.303)' fill='%23555'/%3E%3C/g%3E%3C/svg%3E");
            display: inline-flex;
            margin-right: 10px;
        }
    }
}