.img-box-shadoow {
    box-shadow: -60px -60px 0 $grey-col;

    @include media-breakpoint-down(xl) {
        box-shadow: none;
    }
}

.about-contents {
    padding-top: 140px;

    @include media-breakpoint-down(xl) {
        padding-top: 50px;
    }

    .pl-100 {
        @include media-breakpoint-down(xl) {
            padding-left: 0;
        }
    }

    .pl-80 {
        @include media-breakpoint-down(xl) {
            padding-left: 0;
        }
    }

    .content-desc {
        max-width: 100%;

        @include media-breakpoint-down(xl) {
            margin-top: 50px;
        }
    }

    .large-img {
        max-width: 630px;
        padding-bottom: 110px;

        @include media-breakpoint-down(xxl) {
            max-width: 100%;
        }

        @include media-breakpoint-down(md) {
            padding: 0;
            margin-bottom: 10px;
        }
    }

    .small-img {
        max-width: 450px;
        position: absolute;
        bottom: 0;
        left: 100px;
        border: 10px solid $white;

        @include media-breakpoint-down(xxl) {
            max-width: 100%;
        }

        @include media-breakpoint-down(md) {
            left: 0;
            position: initial;
        }
    }
}

.img-pads {
    padding-left: 60px;

    @include media-breakpoint-down(xl) {
        padding-left: 0;
    }
}

.about-before {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        background: $primary;
        height: 650px;
        width: 47%;
        z-index: -1;

        @include media-breakpoint-down(xl) {
            display: none;
        }
    }
}

.checkbox-check {
    display: flex;
    align-items: center;

    @include media-breakpoint-down(xl) {
        margin-bottom: 50px;
    }

    @include media-breakpoint-down(md) {
        display: block;
    }

    .check-box-icon {
        min-width: 100px;
        height: 185px;
        background: $primary;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 30px;

        @include media-breakpoint-down(md) {
            min-width: 100px;
            max-width: 100px;
            height: 90px;
            margin-right: 0;
            margin-bottom: 20px;
        }
    }
}

.ratings-numbers {
    .content-number-img {
        justify-content: center;

        span,
        p {
            color: $white;
            display: flex;
            align-items: center;
        }

        p {
            max-width: 100px;
        }

        span {
            margin-right: 25px;

            @include media-breakpoint-down(md) {
                min-width: 100px;
            }
        }

        .content {
            display: flex;
            color: $white;

            @include media-breakpoint-down(md) {
                flex-direction: column;
            }

            >div {
                display: flex;
                margin: 0 100px;

                @include media-breakpoint-down(xl) {
                    margin: 0 30px;
                }

                @include media-breakpoint-down(md) {
                    margin: 10px;
                }
            }
        }
    }
}

.testimonial-slider {
    margin: 0 -15px;

    .item {
        padding: 0 15px;
    }
}

.user-quote {
    background: $white;
    padding: 70px 50px;
    display: flex;
    align-items: flex-start;
    color: $dark-text;

    @include media-breakpoint-down(xl) {
        padding: 20px;
    }

    img {
        min-width: 30px;
        margin-right: 20px;
        height: auto;
    }

    strong {
        display: block;
    }

    small {
        font-weight: 14px;
        font-weight: 600;
        color: $border-grey;
    }
}



.breadcrumb-wrapper {
    background: $primary;


    >.container {
        min-height: 95px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $white;
        z-index: 1;
        position: relative;

        @include media-breakpoint-down(md) {
            flex-direction: column;
            justify-content: center;
        }
    }

    .social-icons {
        font-weight: 600;

        a {
            background: $white;
            color: $primary;

            &:hover {
                background: $dark-text;
            }
        }
    }

    @include media-breakpoint-down(xl) {
        padding: 0 30px;
    }

    @include media-breakpoint-down(md) {
        flex-direction: column;
        justify-content: space-around;
        padding: 30px 0;
        min-height: initial;
    }

    .banner-socials {
        @include media-breakpoint-down(lg) {
            white-space: nowrap;
        }
    }

    .breadcrumb-title {
        display: flex;
        align-items: center;

        @include media-breakpoint-down(lg) {
            display: block;
        }
    }

    .inner-page-title {
        font-size: 40px;
        margin-right: 40px;
        text-transform: capitalize;
        font-weight: bold;

        @include media-breakpoint-down(xl) {
            font-size: 30px;
        }

        @include media-breakpoint-down(md) {
            text-align: center; 
            margin: auto;
        }
    }

    .breadcrumb {
        display: flex;
        align-items: center;
        margin: auto;
        font-weight: 600;

        .breadcrumb-item+.breadcrumb-item::before {
            content: ">";
            font-weight: normal;
        }

        @include media-breakpoint-down(md) {
            justify-content: center;
            padding: 0 10px;
            margin: 10px auto;
        }

        li {
            color: #E3FFE6;
            font-weight: bold;
            font-size: 16px;
            text-transform: uppercase;

            &::before {
                color: $white;
            }

            a {
                color: $white;
                font-weight: normal;
                display: flex;
                text-transform: uppercase;
            }

            img {
                max-width: 20px;
            }

            &.active {
                max-width: 398px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }
}