.services-grid {
    @include media-breakpoint-down(xl) {
        grid-template-columns: 1fr 1fr;
    }
}

.service-box {
    position: relative;
    overflow: hidden;
    display: block;

    @include media-breakpoint-down(md) {
        grid-template-columns: 1fr;
    }

    &:hover {
        .overlay {
            bottom: 0;
        }
    }

    span {
        font-weight: 600;
        font-size: 30px;
        text-transform: uppercase;
        color: $white;
    }

    .service-img {
        z-index: 0;

        @include media-breakpoint-down(xl) {
            img {
                width: 100%;
            }
        }

        span {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            background: rgba($dark-text, 0.50);

            @include media-breakpoint-down(xl) {
                display: none;
            }
        }

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba($dark-text, 0.50);
            display: none;
        }
    }


    .overlay {
        background: $primary;
        color: $white;
        padding: 50px 40px;
        position: absolute;
        bottom: -250px;
        left: 0;
        right: 0;
        margin: auto;
        width: 100%;
        height: 215px;
        text-align: center;
        transition: all 300ms ease-in-out;

        @include media-breakpoint-down(xl) {
            position: initial;
            height: 150px;
            padding: 20px;
        }

        span {
            display: block;
            margin-bottom: 10px;
        }

        .logo-icon {
            height: 50px;
            width: 50px;
            position: absolute;
            left: 0;
            right: 0;
            top: -25px;
            z-index: 1;
            background: $white;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: center;

            @include media-breakpoint-down(xl) {
                top: 0;
            }
        }
    }
}

.block-number-styled {
    @include media-breakpoint-down(xl) {
        margin-bottom: 50px;
    }

    li {
        padding: 0;
        display: block;
        padding-right: 40px;

        @include media-breakpoint-down(md) {
            margin-top: 20px;
        }

        span {
            display: block;
        }

        &::before {
            position: initial;
            margin-bottom: 20px;

            @include media-breakpoint-down(md) {
                margin-bottom: 10px;
            }
        }
    }
}

.product-platforms {
    .content {
        display: flex;
        align-items: center;
        padding: 27px 0;
    }
}

.choose-content {
    .features {
        background: $primary;
        color: $white;
        padding: 80px 50px;

        @include media-breakpoint-down(xl) {
            padding: 30px;
        }
    }

    span {
        font-size: 50px;
        font-weight: 200;

        @include media-breakpoint-down(xl) {
            font-size: 30px;
        }
    }

    .title {
        max-width: 180px;
        font-size: 40px;
        font-weight: 600;

        @include media-breakpoint-down(xl) {
            font-size: 20px;
        }
    }
}